ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
}

ul li{
    font-size: x-large;
}

header h1{
    text-align: center;
    font-family: 'Segoe UI', sans-serif;
    font-size: 60px;
}

header p{
    font-family: 'Segoe UI', sans-serif;
    font-size: xx-large;
}

a{
    text-decoration: none;
}

.projeto{
    display: flex;
    max-width: 400px;
    align-items: center; /*Garante que os filhos fiquem centralizados*/
    flex-direction: column; /*Filhos um abaixo do outro*/
}

.projeto:hover .descricao{
    display: block;
}

.descricao{
    display: none;
}