body{
    background-color: rgb(15, 14, 14);
}

main{
    list-style: none;
    display: flex;    
    flex-wrap: wrap;
}

ul li{
    font-size: x-large;
}

header{
    color: white
}

header h1{
    text-align: center;
    font-family: 'Segoe UI', sans-serif;
    font-size: 60px;
}

header p{
    font-family: 'Segoe UI', sans-serif;
    font-size: xx-large;
}

a, a:visited{
    text-decoration: none;
    color: blue;
}

a:hover{
    color: blueviolet;
    transition-duration: 0.2s;
}

.projeto{
    flex-basis: 400px;
    flex-grow: 0;
    align-items: center; /*Garante que os filhos fiquem centralizados*/
    flex-direction: column; /*Filhos um abaixo do outro*/
    margin: 10px;
    min-width: 400px;
}

.descricao {
    font-family: 'Segoe UI', sans-serif;
}

.foto{
    max-width: 100%;
    max-height: 100%;
}

.foto a, .foto img{
    max-height: inherit;
    max-width: inherit;
}