body{
    background-color: rgb(15, 14, 14);
}

header{
    color: white
}

header h1{
    text-align: center;
    font-family: 'Segoe UI', sans-serif;
    font-size: 60px;
}

header p{
    font-family: 'Segoe UI', sans-serif;
    font-size: xx-large;
}

a, a:visited{
    text-decoration: none;
    color: blue;
}

a:hover{
    color: blueviolet;
    transition-duration: 0.2s;
}

main{
    display: flex;
    flex-wrap: wrap;    
}

.projeto{
    margin: 10px;
    min-width: 400px;
    flex-grow: 1;
    flex-basis:0;
}

.descricao {
    font-family: 'Segoe UI', sans-serif;
}

.foto a img{
    width: 100%;
    height: auto;
    max-height: 240px; /*Garantindo que não exista diferença de altura*/
    max-width: 600px;    /*Garantindo que exista a responsividade mas sem discrepância no elemento que fica sozinho*/
}
    