body{
    background-color: rgb(19, 18, 18);
}

header{
    color: white
}

header h1{
    text-align: center;
    font-family: 'Segoe UI', sans-serif;
    font-size: 60px;
}

header p{
    font-family: 'Segoe UI', sans-serif;
    font-size: xx-large;
}

a, a:visited{
    text-decoration: none;
    color: blue;
}

a:hover{
    color: blueviolet;
    transition-duration: 0.2s;
}

main{
    display: flex;
    flex-wrap: wrap;    
}

.projeto{
    flex: 1 0 400px;/*grow,shrink,basis*/
    margin: 10px;
}

.descricao {
    font-family: 'Segoe UI', sans-serif;
}

.foto a img{
    width: 100%;
    height: auto;
}
    